body {
    background-image: url("https://cutewallpaper.org/28/computer-pattern-wallpaper/1609221363.jpg");
    /* background-image: url("https://cutewallpaper.org/21/downloads-wallpaper/Desktop-Wallpaper-Downloads-From-Lea-Carey-Day-Six-Design-.jpg") */
}

.page-title {
    margin: 0.75em 0;
    width: 250px;
    text-align: center;
    font-size: 60px;
    color: #7A4D9F;
}

.TodoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    width: 410px;
    overflow: hidden;
    padding: 6px;
    font-style: italic;
    border: 2px solid #5B2C6F;
}

.add-input {
    color: #A8DACD;
    background-color: #7A4D9F;
}

.edit-input {
    color: #7A4D9F;
    background-color: #A8DACD;
    font-weight: 600;
}

::placeholder {
    color: #A8DACD;
    font-style: italic;
    opacity: 0.75;
}

.edit-input::placeholder {
    color: #7A4D9F;
}

.add-btn {
    width: 80px;
    padding: 6px;
    margin-bottom: 2em;
    color: #5B2C6F;
    font-weight: bold;
    background-color: #A8DACD;
    border: 2px solid #5B2C6F;
}

.update-btn {
    width: 80px;
    padding: 6px;
    margin: 0.5em 0;
    color: #A8DACD;
    font-weight: bold;
    background-color: #5B2C6F;
    border: 2px solid #A8DACD;
}

.TodoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 490px;
    padding: 6px;
    font-weight: bold;
    color: #A8DACD;
    background-color: #7A4D9F;
    border: 3px solid #5B2C6F;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
    font-weight: 400;
}

.task-name {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.control-icons {
    display: flex;
}

.icon {
    padding: 0 4px;
}